// shared/styles/_spacing.scss

/*
사용 예시)
  .header {
    padding: var(--space-4) var(--space-6); // 16px 24px
  }

  .button {
    margin-top: var(--space-2); // 8px
    padding: var(--space-1) var(--space-3); // 4px 12px
  }
*/

// 1rem = 16px 기준
$space-0: 0; // 0px
$space-0-5: 0.125rem; // 2px
$space-1: 0.25rem; // 4px
$space-1-5: 0.375rem; // 6px
$space-2: 0.5rem; // 8px
$space-2-5: 0.625rem; // 10px
$space-3: 0.75rem; // 12px
$space-3-5: 0.875rem; // 14px
$space-4: 1rem; // 16px
$space-5: 1.25rem; // 20px
$space-6: 1.5rem; // 24px
$space-7: 1.75rem; // 28px
$space-8: 2rem; // 32px
$space-9: 2.25rem; // 36px
$space-10: 2.5rem; // 40px
$space-12: 3rem; // 48px
$space-14: 3.5rem; // 56px
$space-16: 4rem; // 64px
$space-20: 5rem; // 80px
$space-24: 6rem; // 96px
$space-28: 7rem; // 112px
$space-32: 8rem; // 128px

// padding
.p-0 {
  padding: 0 !important;
}
@for $i from 0 through 10 {
  $padding: $i * 0.25rem; // 4px씩 증가
  .pt-#{$i} {
    padding-top: $padding !important;
  }
  .pr-#{$i} {
    padding-right: $padding !important;
  }
  .pb-#{$i} {
    padding-bottom: $padding !important;
  }
  .pl-#{$i} {
    padding-left: $padding !important;
  }
}

// margin
.m-0 {
  margin: 0 !important;
}
.m-auto {
  margin: auto !important;
}
.m-center {
  margin: 0 auto;
}
@for $i from 0 through 10 {
  $margin: $i * 0.25rem; // 4px씩 증가
  .mt-#{$i} {
    margin-top: $margin !important;
  }
  .mr-#{$i} {
    margin-right: $margin !important;
  }
  .mb-#{$i} {
    margin-bottom: $margin !important;
  }
  .ml-#{$i} {
    margin-left: $margin !important;
  }
}

.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}

// flex
.flex {
  display: flex;
}
.flex--inline {
  display: inline-flex;
}
.flex--col {
  display: flex !important;
  flex-direction: column;
}
.flex--row {
  display: flex !important;
  flex-direction: row;
}
