@use 'sass:map';
@use '../../shared/styles/colors' as *;

// theme-selectors
$theme-light-selector: ':root';
$theme-dark-selector: ":root[data-theme='dark']";
$theme-system-selector: ":root[data-theme='system']";
$theme-group: (
  $theme-light-selector,
  $theme-dark-selector,
  $theme-system-selector
);

// 테마 팔레트 맵
$theme-light: (
  bg: map.get($theme-gray, 'light', 'gray-3'),
  surface: map.get($theme-gray, 'light', 'gray-1'),
  text: map.get($theme-gray, 'light', 'gray-10'),
  border: map.get($theme-gray, 'light', 'gray-5'),
  focus: map.get($theme-blue, 'light', 'blue-6'),
);

$theme-dark: (
  bg: map.get($theme-gray, 'dark', 'gray-3'),
  surface: map.get($theme-gray, 'dark', 'gray-1'),
  text: map.get($theme-gray, 'dark', 'gray-11'),
  border: map.get($theme-gray, 'dark', 'gray-5'),
  focus: map.get($theme-blue, 'dark', 'blue-6'),
);

// CSS 변수로 내보내기
@mixin export-theme($theme) {
  --color-bg: #{map.get($theme, bg)};
  --color-surface: #{map.get($theme, surface)};
  --color-text: #{map.get($theme, text)};
  --color-border: #{map.get($theme, border)};
  --color-focus: #{map.get($theme, focus)};
}

#{$theme-light-selector} {
  @include export-theme($theme-light);
}

#{$theme-dark-selector} {
  @include export-theme($theme-dark);
}

#{$theme-system-selector} {
  // OS 설정 따르기 (prefers-color-scheme 활용)
  @media (prefers-color-scheme: dark) {
    @include export-theme($theme-dark);
  }
  @media (prefers-color-scheme: light) {
    @include export-theme($theme-light);
  }
}
